<header>
    <div class="container">
        <a href="#" class="logo">WISE OWL</a>
        <nav>
            <ul>
                <li><a href="index.html" routerLink="/">Home</a></li>
            
                <li><a href="['/app-list']" routerLink="/">Wise Owl</a></li>
            
            <li><a href="#" routerLink="/">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- Matslider---->
<!-- <mat-slider></mat-slider>
<mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->

<!-- <p>nav works!</p>  -->

