/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


body {
    background-image: url('./assets/img/wise-owl.png');
    background-repeat: no-repeat;
    background-position: inherit;
    background-color: rgb(97, 146, 161);
    color: white;
}
