<!-- <h4>home works!</h4> -->


<div class="play-container">
    <p>you have clicked <span (click)="countClick()">this</span>{{ clickCounter }} times.</p>
</div>

<h1>"The Wise Owl Quotes"</h1>
<div class="play-container">
    <ng-template [ngIf]="clickCounter" >4" [ngIfElse]="none"
        <p>The click counter <strong>IS GREATER</strong>than 4.</p>
    </ng-template>
</div>
<div class="play-container">
  <p>
       <input type="text" [(ngModel)]="name">
       <br>
       <strong>You said:</strong> {{ name }}
  </p>  
</div>
